
<div class="float-center text-center">
<div class="cell">
<h2><%= @coffeee.name %></h2>
<% if @coffeee.brand_id && @coffeee.brand.name != "" %>
    <h5><%= @coffeee.brand.name %></h5>
<%else%>
    <label><strong>Know the coffee brand?</strong></label>
    <%= form_for @coffeee.build_brand, :html => {"data-abide" => ''} do |b| %>
        <%= b.hidden_field :coffeee_id, :value => @coffeee.id %>
        <div class="field input-wrapper">
            <%= b.text_field :name, list: "brands" , required: true %>
            <datalist id="brands">
                <% Brand.all.each do |brand|%>
                    <option value="<%=brand.name%>">
                <%end%>
            </datalist>
        </div>
        <div class="field">
            <%= b.text_field :location %>
        </div>
        <div class="actions">
            <%= b.submit "Add Brand" %>
        </div>
    <%end%>
<%end%>
</div>

<div class="cell">
 <%# Coffee Info %>
<p><%= @coffeee.category %></p>
<p><%= @coffeee.roast %></p>
<p><%= @coffeee.body %></p>
<p><%= @coffeee.acidity %></p>
<br><br>
<%# Coffee Reviews %>
<h5>Reviews</h5>
<ul>
    <% @coffeee.reviews.each do |review| %>
        <li><%= link_to "#{current_user.username}'s rating of  #{review.rating} Stars", coffeee_review_path(@coffeee, review) %></li>
    <%end%>
</ul>
</div>
<br><br>
<div class="cell">
<%= link_to "Leave Review", new_coffeee_review_path(@coffeee) %>
</div>
<br><br>

<div class="cell">
<%= link_to "Back to Home", users_path %>
</div>
</div>