<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Filtered - For Coffee Lovers" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="grid-container full app-background">
    
    <div class="grid-x grid-padding-x top-bar navigation">
      <div class="cell small-12 medium-1 align-center text-center"><h6><%= link_to "Filtered.", root_path %></h6></div>
      <div class="cell small-12 medium-8">
        <ul class="menu">
          <li><%= link_to "Home", root_path if !user_signed_in? %></li>
          <li><%= link_to "Home", users_path if user_signed_in? %></li>
          <li><%= link_to "Sign In", new_user_session_path if !user_signed_in? %></li>
          <li><%= link_to "Your Profile", user_path(current_user) if user_signed_in? %></li>
          <li><%= link_to "Review New Coffee", new_coffeee_path if user_signed_in? %></li>
          <li><%= link_to "View Coffee List", coffeees_path if user_signed_in? %></li>
        </ul>
      </div>
      <div class="cell small-12 medium-2">
        <ul class="menu align-right">
          <li><%= link_to "Sign Up", new_user_registration_path if !user_signed_in? %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete if user_signed_in? %></li>
        </ul>
      </div>
      <div class="cell small-12 medium-1"></div>
    </div>
    
    <div class="grid-x">
      <div class="cell small-1"></div>
      <div class="grid-x cell auto app-content" style="min-height: 700px;">
        <% if !flash.empty? %>
          <div class="cell grid-x grid-padding-x small-12 errors align-center text-center float-center" style="max-height: 65px;">
              <% flash.each do |name, msg| -%>
                <%= content_tag :div, msg, class: name %>
              <% end -%>
          </div>
        <%end%>
        
          <%= yield %>

      </div>
      <div class="cell small-1"></div>
    </div>
    <div class="grid-x footer">
      <div class="float-center text-center">
        <h6>Filtered.</h6>
        <span>© 2021</span>
      </div>
    </div>
  </body>
</html>
